/*-------------------------------------DEFAULT SETTINGS---------------------------------------------*/
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-size: 13px;
    font-family: 'Varela Round', sans-serif; 
    letter-spacing: 0.5px;
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #a6a6a6;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
::-webkit-scrollbar-track{
    border-radius: 10px;
}
.overflow-auto{
    overflow: auto;
}

/*-------------------------------------MESSAGE BODY---------------------------------------------*/
.message-output{
    position: fixed;
    width: calc(100% - 40px);
    height: calc(100% - 50px);
    overflow-y: auto;
}
form {  
    padding: 3px; 
    position: fixed; 
    bottom: 0; 
    width: 100%;
}
#messages { 
    list-style-type: none; 
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 20px;
    padding: 0; 
}
.speech-bubble{
    word-wrap: break-word;
    max-width: 300px;
    position: relative;
    display: inline-block;
    font-size: 13px;
    border-radius: 25px;
    padding: 10px;
    margin-top: 2px;
    background: lightskyblue;
}
.sender-name{
    margin-top: 10px;
    font-size: 8pt;
    color: grey;
}

/*-------------------------------------CHAT BOX RESPONSIVE 1---------------------------------------------*/
@media screen and (min-width: 900px){
    form button{
        width: calc(9% - 20px);
    }
    form input{
        width: calc(90% - 20px);
    }
}
/*-------------------------------------CHAT BOX RESPONSIVE 2---------------------------------------------*/
@media screen and (min-width: 570px) and (max-width: 900px){
    form button{
        width: calc(14% - 20px);
    }
    form input{
        width: calc(85% - 20px);
    }
}
/*-------------------------------------CHAT BOX RESPONSIVE 3---------------------------------------------*/
@media screen and (max-width: 570px){
    form button{
        width: calc(19% - 20px);
    }
    form input{
        width: calc(80% - 20px);
    }
}

/*-------------------------------------CHAT BOX DEFAULT---------------------------------------------*/
/*----------MESSAGE INPUT DEFAULT-------------*/
form input { 
    border: 0; 
    padding: 10px;  
    margin: 5px;
    margin-left: 20px;
    margin-right: .5%;
    border-radius: 15px;
    font-size: 13px;
    font-family: 'Varela Round', sans-serif; 
    letter-spacing: 0.5px;
    border: solid .5px lightskyblue; 
    outline: 0;
}
form input:focus{
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.3);
}

/*----------SEND BUTTON DEFAULT-------------*/
form button { 
    margin-right: 20px; 
    line-height: 18px;
 
    background: white;
    border: none;
    border-radius: 10px;  
    padding: 10px;
    border: solid .5px lightskyblue; 
    
    cursor: pointer;
    transition: all .2s ease-in-out; 
}
form button:hover{
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
form button:focus{
    outline: 0;
}